@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* The following variables are used for synchronizing the transition times and easing functions */
  --vt-timing-function: theme(transitionTimingFunction.cubic-bezier);
  --vt-duration: 350ms;
}

*,
*::before,
*::after {
  /* Setting the appearance to dark since it is our only target */
  appearance: dark;
}

body {
  /* Setting the body background to a black natural color */
  @apply text-stone-50 bg-black;
}

@layer utilities {
  /* Modifies the stylings depending on support for the view transition API */
  .view-transition {
    @supports (view-transition-name: none) {
      transition: none;
    }

    @supports not (view-transition-name: none) {
      transition-duration: var(--vt-duration);
      transition-timing-function: var(--vt-timing-function);
    }
  }
}
